# Deployment for the raffleize-frontend web application.
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-raffleize-frontend-web
  namespace: raffleize-frontend
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: raffleize-frontend-web-pod-label
  template:
    metadata:
      labels:
        app: raffleize-frontend-web-pod-label
        environment: placeholder
    spec:
      dnsPolicy: ClusterFirst
      dnsConfig:
        options:
          - name: ndots
            value: "1"
          - name: single-request-reopen
          - name: timeout
            value: "2"
          - name: attempts
            value: "3"
      containers:
        - name: container-raffleize-frontend-web
          image: mariusgeorgescu/raffleize-frontend:latest
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 80
          envFrom:
            - configMapRef:
                name: configmap-raffleize-frontend
          readinessProbe:
            httpGet:
              path: /
              port: http
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /
              port: http
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 30

