apiVersion: v1
kind: Service
metadata:
  name: {{ include "orchestration_delivery_fallout.fullname" . }}
  labels:
    {{- include "orchestration_delivery_fallout.labels" . | nindent 4 }}
    name: {{ include "orchestration_delivery_fallout.fullname" . }}
    protocol: tcp
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    - port: 9000
      targetPort: actuator
      protocol: TCP
      name: actuator
  selector:
    {{- include "orchestration_delivery_fallout.selectorLabels" . | nindent 4 }}
