# SPDX-FileCopyrightText: 2025 Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT License,
# the text of which is available at https://opensource.org/license/mit
# or see the "LICENSE.txt" file for more details.
#
# Authors: See CONTRIBUTORS.txt

# Default values for lifecycle-management.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
DISCO_DEV_CATALOG_MONGO_PASSWORD: sD0dMMw82AlkJUQjobn44aGviFC6nDO
replicaCount: 1

dailyshutdown: enabled
keyStoreP12: "MIIHwgIBAzCCB2wGCSqGSIb3DQEHAaCCB10EggdZMIIHVTCCB1EGCSqGSIb3DQEHBqCCB0Iwggc+AgEAMIIHNwYJKoZIhvcNAQcBMGYGCSqGSIb3DQEFDTBZMDgGCSqGSIb3DQEFDDArBBRE33u1rIO32t4WbbRNAyX8HCk2vwICJxACASAwDAYIKoZIhvcNAgkFADAdBglghkgBZQMEASoEEIPi590h1rwEP8gjH9EEj+WAggbA/UpKYi+b/Hmx2sMYke59vPA/+lu9S4E1jRvQP/v8Nh+6RKdPmx3SgE/eUOLITuiOcgkPWGwMCNW0EhHPXjMQPRg8wa8oIfUCr0Hwtxm/k88S51g8WlVsQ6/EbTLQNoGnEMqe4R5fJX/Lj0Ny7wb1IxRYcdozIlrXF9fV92MPzqrgrumWWsI61mi3/kfm8KCa68xDwCudrrD+lCRyNP40gePNlaf+1KSD/9En6ZORmg4Ca/fHjvPPPMFgIat+Co7oQ3hkkUav3U4+98NpCDJ8LdV2RK27ALBYGjegHxisz6btg99S4orATtJDM48MVqGm/mX+i3+8bC66SWJnOgyTsn7VoG6/P74xS4tG3JFM2ZPcZkKKHEuLcGYXjGFoqsCvb6JJj5YZAkGjXhaIHFMIFejrWbkCc03zr89Ee/y139pLoB1XGKlFlE1olNIN/NmoItFzgD8w+SZRtewh30jkSs32R2LztgFy3rNSDPbReePTYIKZFzTXNywToEFVGl3i2Y14uUVOTDkL2hBiMBxDxFy7CWI0zU+SXPp121WqhOVpxRtkesevt6J6lusIb5Hc/2gPGDOMI57tCTpeqHMatkNH6XuoYap7zX7+9wAx8K4phVRtJqAoPtz7x7MLRSkPw5LtaYBRZLi/axuNqil8z5G4v0IDldeSLuMDja2o6MBm1RuWv6KSvrN4WaPv8tRqFLwqD/C2DkDieI8eMpQdn56AQL6wF8lyGCwTs5vYcxb/vQBZEKoxaIIJhWQhoyCT8uhOVCfXOe1cl4TaRKIXj0gfv5Xydds4dDi9iHuLruJMMN6fpR6AkwQICFXaTiULFEAJDacMlBv7sT/VOApd8lwFHBsb3WGOBOeE9Rb6uC3m1M9X6W4bm+O72PgesiVL/lcae3KvpI7p6mnQ4ezefDtXhVaRvpz9P2l3OrLCoeS4m/K96/VY6p2V5KiQ1rvpn+l/HUSCxPqPSC74rOy47TRqF6ZwIGW4zqan+6DkDfqZ498Pc+sEFSdI3kOHsB6N/bVuX0QFEMGbwm8bSPbFdEzcSF7V3lNMEses/R423koGNV3aMJHenCj+J+jfudwCyAesVmTvi/+Zdnlssd+IBaSQhC47HIbg3H2NWwocpVVysf3qST12vnv+lvmqlEpFffrimmAFAA4W0sL+1BMV9eF3kq8GTZ2o30AE7WsyDbGi3WX/XKQ0hG2OEFr/1mPwIh94PDCaS7c/x2tJlwv6F59WXF/LRpA6c+0qnb8TtEYIQnwBWQ6xXQhUqFLo2JFovDUQ0m9kpFVKY0QDHm62rsG/ZsClPBFHwbZu6O8E5y6luXtEJ5txGQTGEHwFpeGbWdT4xGLZcBEbmmHEu9qdwyoPpewakGboamGoRYqT74I6BXZhZufM/OmuudW96nP/2pFF4Q8PWhFmxg0ZPXLFWxSlFYH99+gjIpbKuMqWKBdVE9QyYWbOvdrMGQOh/GrKnBENvTD2Em8hk7sK9DAkEKJTdmehJv2yuJ+WRebpnU92B7x+NwHCGrg5xtQGqwUgFA6wXN0Xfj/yP1hdlV0iGc5Pblx8ELYlMO3ZZGfjyUrHqcKYubCZmbY+kIZmyrytbdzir/VHpQ0P6jz3VwUr6Ou8bz0QraxDXFfh4wo1OjDJlXK48VcDFV0XilPVlj0pb201oVMmX5TQ2WurGpOUcTQht+DBmDMP3PYF7QbHoH5PJewHWlWd5A2+DlWqmWbC8HTxi9ay/LTeNjMxwcE4xD8ej330y52KNGQU4wj8FyAz2YiOEr7A8604PswqVpgELEGlEo0WM6PxLeTn/Zr5BuwVf3eYDfPaNxWI3iXYSyBzOVuoosD78ABIkOx09KuXlhUqSmlUUNtfY5q/h3/z9GuAVwfJu98OdGJaItblxe8W2cR/TyH/E8/iR4PRORvWrnRcRFKNrGEwW2miwE6P7vGEF19z6G3qrCYF9cRrznRRJVW0Y6GwduVOsLEBgGnecaK+CibyLaknxhvXcbHZMLhPhL4rIRooBz0CAR8vathdBB6rJAFt2qzxuP/AzRS+qoQsOofTX0utBMF3Ms4DQSgovfRH7k0hQ7xKxALd0YayhpEmcLUKnprj4ZQs02Pw/XUjPKGPfGFrBy5zv6UwI0VOwZmfAiU5jMHxK4B2FwGjGQbdHPfodayXJqVtN+8uornfDlWLrrvqpBGc95zUheTUjN8QI/2cW9FlJmbbgTqh6Z5STAtlNEAvm18qx+AT0YdAVc3YMem6ae4rFtTiJr4t2C01cHBCaSodPHbrAvnSP3ZGGvSx8m1dmSvH393qME0wMTANBglghkgBZQMEAgEFAAQgjIPw7Vrc0qlukJx17I3QLOdwsY1rXjM/qwPb/xBRWJEEFMI5ahFsoN2T67OnqVXQkMswWMAzAgInEA=="

image:
  repository: "europe-central2-docker.pkg.dev/ino-it-s-disco-dev/disco-gcp/disco/product-configurator"
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "1.7.0"

imagePullSecrets: [{ name: discoregistry-imagepuller },{ name: default-dockercfg-b7fws }]
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: "ci-cd"

# enable monitoring and supervision of pods
podAnnotations:
  prometheus.io/port: '9000'
  prometheus.io/scrape: 'true'
  metrics: '/actuator/prometheus'


podSecurityContext: {}
  # fsGroup: 1000
  # runAsNonRoot: true

securityContext: {}
  # allowPrivilegeEscalation: false
  # readOnlyRootFilesystem: true
  # runAsGroup: 1000
  # runAsNonRoot: true
  # runAsUser: 1000
  # capabilities:
  #   drop:
  #   - ALL

service:
  type: ClusterIP
  port: 8080
  # enable monitoring and supervision of service
  annotations:
    prometheus.io/port: '9000'
    prometheus.io/scrape: 'true'

services:
  mongodb: catalog-mongo
  dbname: catalog
#  dbport: "27017"
  kafka: kafka:9092
  keycloak: keycloak:80
  keycloakrealm: SpringBootKeycloak
  catalogui: catalog-ui:80
  productcatalog: catalog-product-catalog:8080
  specification: catalog-product-specification:8080
  offering: catalog-product-offering:8080
  offeringprice: catalog-product-offering-price:8080
  category: catalog-product-category:8080
  lifecycle: catalog-product-lifecycle-management:8080
  userroleretrieve: auth-userrole:8080
  mockservice: mock-service:80
  gateway: disco-gateway:8080
  keycloakroute: keycloak
  # poq: product-offering-qualification:8080
  # cpib: cpib:8080
  cpib: product-inventory:8080
  policyrule: catalog-policy-rule:8080
  configurator: product-configurator:8080

database:
  enabled: true
  rootPassword: sD0dMMw82AlkJUQjobn44aGviFC6nDO
  rootUser: mongo_user

keycloak:
  enabled: false
  clientSecret: ""
  issuerURI: ""

# config for ingress on DIOD OpenShift
ingress:
  enabled: true
  annotations:
    route.openshift.io/termination: edge
    route.openshift.io/insecureEdgeTerminationPolicy: Redirect
  hosts:
    - host: -fqdn
      paths: [/] # align with contextPath


resources:
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.

  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 1024Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}


otel:
  # activate Open Telemetry instrumentation
  enabled: true
  sidecar:
    # use collector agent sidecar
    enabled: false
    # main collector address
    jaeger:
      host: jaeger
      port: 14250
      # main receiver address
    otlp:
      host: disco-tracing-otel
      port: 4317
  attributes:
    platform: "openshift"
    region: ""
    cluster: "diod-openshift"
    namespace: "disco-production"
    hostname: ""


# fluentd sidecar for logs forwarding
fluentd:
  enabled: true
  host: apps-fluentd   
  tag: "product-configurator"

# fluentd:
#   enabled: true
#   tag: "lizard-.cpib"
#   host: "localhost"
#   port: "24224"
#   sidecar:
#     enabled: true
#     loki:
#       url: "http://lizard-loki-.lizard--monitoring.svc.cluster.local:3100"
#       extra_labels: "\"env\":\"\", \"app\": \"lizard\""

# Monitoring values

# monitoring:
#   application: qualification-
#   environment: 
#   productName: Disco
#   domain: "appli"
#   topology: "none"
#   role: "none"

monitoring:
  environment: 
  productName: disco
  application: product-configurator


# use to activate Promtail sidecar for logs scraping
promtail:
  enabled: false
  # Extra args for the Promtail container.
  extraArgs: []
  # -- Example:
  # -- extraArgs:
  #  - -client.external-labels=env=sandbox,app=lizard,setname=cpib
  
  # -- Section for crafting Promtails config file. The only directly relevant value is `config.file`
  # which is a templated string that references the other values and snippets below this key.
  # @default -- See `values.yaml`
  config:
    # -- The log level of the Promtail server
    # Must be reference in `config.file` to configure `server.log_level`
    # See default config in `values.yaml`
    logLevel: ""
    # -- The Loki address to post logs to.
    # Must be reference in `config.file` to configure `client.url`.
    # See default config in `values.yaml`
    lokiAddress: ""
    # -- A section of reusable snippets that can be reference in `config.file`.
    # Custom snippets may be added in order to reduce redundancy.
    # This is especially helpful when multiple `kubernetes_sd_configs` are use which usually have large parts in common.
    # @default -- See `values.yaml`
    snippets:
      # -- You can put here any keys that will be directly added to the config file's 'client' block.
      # @default -- empty
      extraClientConfigs: ""
      # -- You can put here any additional scrape configs you want to add to the config file.
      # @default -- empty
      extraScrapeConfigs: ""
      # -- You can put here any additional relabel_configs to "kubernetes-pods" job
      extraRelabelConfigs: []
      scrapeConfigs: |
        # See also https://github.com/grafana/loki/blob/master/production/ksonnet/promtail/scrape_config.libsonnet for reference
        - job_name: app-logs
          pipeline_stages:
          - multiline:
              firstline: '.*with root cause.*$'
              max_wait_time: 1ms
          static_configs:
          - targets:
              - localhost
            labels:
              job: app-logs
              __path__: /tmp/*log
    # -- Config file contents for Promtail.
    # Must be configured as string.
    # It is templated so it can be assembled from reusable snippets in order to avoid redundancy.
    # @default -- See `values.yaml`
    file: |
      server:
        log_level: {{ .Values.promtail.config.logLevel }}
        http_listen_port: 9080
      client:
        url: {{ tpl .Values.promtail.config.lokiAddress . }}
        {{- tpl .Values.promtail.config.snippets.extraClientConfigs . | nindent 2 }}
      positions:
        filename: /tmp/positions.yaml
      scrape_configs:
        {{- tpl .Values.promtail.config.snippets.scrapeConfigs . | nindent 2 }}
        {{- tpl .Values.promtail.config.snippets.extraScrapeConfigs . | nindent 2 }}

# use if you want to change the api version in URL path. Defaults to the API version implemented by this version of the component
#api:
#  contextPath: "/api/v2/"
  
# use if you want to expose your service with a context path, for instance /cpop. Default is blank
contextPath: ""
