wiremock:
  port: 8082
  mapping:
    path: BOOT-INF/classes/stubs
server:
  port: 8080

management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: '*'
  metrics:
    export:
      prometheus:
        enabled: true
