# SPDX-FileCopyrightText: 2025 Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT License,
# the text of which is available at https://opensource.org/license/mit
# or see the "LICENSE.txt" file for more details.
#
# Authors: See CONTRIBUTORS.txt

# Default values for lifecycle-management.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1
image:
  repository: "${docker_repository}"
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "${docker_tag}"

nameOverride: ""
fullnameOverride: ""

#POLICY_RULE_DOMAIN_ID : "" REALYY USED????????

configValues: |
  window.VITE_REACT_APP_GET=''
  window.VITE_REACT_APP_CREATEPO=''
  window.VITE_REACT_APP_CREATEPS=''
  window.VITE_REACT_APP_CREATEPOP=''
  window.VITE_REACT_APP_CREATECAT=''
  window.VITE_REACT_APP_CREATELIFECYCLE=''
  window.VITE_KEYCLOAK_URL=''
  window.VITE_REACT_APP_ADMIN_URL=''
  window.VITE_REACT_APP_MOCK_URL=''

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# remove curly braces and specify if necessary
podAnnotations: {}

# remove curly braces and specify if necessary
podSecurityContext: {}

# remove curly braces and specify if necessary
securityContext: {}

service:
  type: ClusterIP
  port: 80
  targetPort: 8080

# config for ingress on DIOD OpenShift
ingress:
  enabled: false

# requests and limits
resources: {}

autoscaling:
  enabled: false

nodeSelector: {}

tolerations: []

affinity: {}

# Monitoring values
monitoring:
  application: ""
  domain: "appli"
  productName: ""
  topology: "none"
  role: "none"
  environment: ""
