# SPDX-FileCopyrightText: 2025 Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT License,
# the text of which is available at https://opensource.org/license/mit
# or see the "LICENSE.txt" file for more details.
#
# Authors: See CONTRIBUTORS.txt

# Default values for order_inventory
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1

image: #modified during the packaging, overridden with values-*.yaml during the deployment
  repository: "europe-central2-docker.pkg.dev/ino-it-s-disco-dev/disco-gcp/disco/order-inventory"
  pullPolicy: Always
  # Overrides the image tag whose default is the chart version.
  tag: "1.13.1"

imagePullSecrets:
  # example, using a secret created by the chart for a release with fullnameOverride: "mock-server-sandbox"
  - name: ""

# set create to true if you want this chart to create a secret for you. Default is false
registryCredentials:
  create: false
  #  example for GitLab internal registry
  url: ""
  token:
    userName: ""
    password: ""

nameOverride: ""
# fullnameOverride: "order-inventory-sandbox"
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

mongo:
  enabled: false
  image:
    repository: bitnamilegacy/mongodb
  metrics:
    image:
      repository: bitnamilegacy/mongodb-exporter
    enabled: true  
  commonLabels:
    domain: dbms
    productname: mongodb
  resources:
    limits:
      memory: 1500Mi
  podAnnotations:
    prometheus.io/port: '9216'
    prometheus.io/scrape: 'true'
    prometheus.io/path: "/metrics"
  architecture: standalone
  useStatefulSet: true
  extraEnvVarsSecret: ""
  directoryPerDB: true
  fullnameOverride: ""
  initdbScripts:
    init.js: ""
  auth:
    enabled: false
    rootPassword: ""
    rootUser: ""
  service:
    nameOverride: ""
    ports:
      mongodb: 27017

orderInventory:
  service:
    kafka: kafka
    authUserRole: ""
    mxHeap: ""

keycloak:
  enabled: false
  issuerURI: ""

# use to configure Open Telemetry
otel:
  # activate Open Telemetry instrumentation
  enabled: false
  sidecar:
    # set to true to enable collector agent sidecar
    enabled: false
    # otlp protocol to use in sidecar exporter (only otlp is available in default config)
    exporter: ""
    # otlp main collector endpoint
    collector:
      # otlp main collector host (defaults to "otel-collector")
      host: ""
      # otlp main collector port (defaults to otlp 4317 port on main otel collector)
      port:

# used to specify labels on pods and services (useful for monitoring)
monitoring:
  # label for exporter autodetection
  domain: "appli"
  # label to specify product name (chart name by default)
  productName: ""
  # label to specify topology
  topology: "none"
  # label to specify role
  role: "none"
  # label for environment being deployed
  environment: ""

# use to activate logs sending to fluentd
fluentd:
  enabled: false
  # tag value being set on log events and used by fluentd to route logs
  tag: ""
  # hostname of the fluentd instance this application should send logs to. Defaults to localhost
  host: "localhost"
  # port of the fluentd instance this application should send logs to. Defaults to localhost
  port: ""
  # use to enable fluentd sidecar container running logging agent
  sidecar:
    enabled: false
    # loki output configuration for the fluentd sidecar
    loki:
      # URL of the Loki instance that the sidecar will output logs to
      url: ""
      # extra labels that the fluentd sidecar will set on log events for loki
      extra_labels: "\"env\":\"sandbox\", \"app\": \"disco\""

# remove curly braces and specify if necessary
podAnnotations: {}
  # example to enable monitoring and supervision of pods
  # prometheus.io/port: '8080'
  # prometheus.io/scrape: 'true'
  # metrics: '/actuator/prometheus' # align with contextPath, if specified

# remove curly braces and specify if necessary
podSecurityContext: {}
  #runAsUser: 1003170001
  #runAsGroup: 1003170001
  # runAsUser: 1000
  # fsGroup: 2000

# remove curly braces and specify if necessary
securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

# set to true if you want to have CertManager issue a Certificate for your service
# further config is needed, check odaca custom file for example
certManager:
  create: false

service:
  type: ClusterIP
  port: 8080
  # example to enable monitoring and supervision of service
  # annotations:
  #   prometheus.io/port: '8080'
  #   prometheus.io/scrape: 'true'

# use if you want to change the api version in URL path. Defaults to the API version implemented by this version of the component
api:
  contextPath: "/api/v2/"

# use if you want to expose your service with a context path, for instance /order-inventory. Default is blank
contextPath: ""

# set to true if using ingress to expose your service
# further config is needed, check odaca custom file for example
ingress:
  enabled: false
  # example of config used for disco deployment on odaca cluster
  #  annotations:
  #    kubernetes.io/ingress.class: nginx
  #    cert-manager.io/cluster-issuer: odaca-ca-issuer # signer for generated certs
  #  hosts:
  #    - paths: [/] # align with contextPath
  #      host: order-inventory-sandbox.odaca.innov.intraorange
  #    - paths: [/] # align with contextPath
  #      host: order-inventory-sandbox.odaca.fr
  #  tls:
  #    - secretName: order-inventory-sandbox-ingress-odaca-int-cert
  #      hosts:
  #        - order-inventory-sandbox.odaca.fr
  #    - secretName: order-inventory-sandbox-ingress-odaca-ext-cert
  #      hosts:
  #        - order-inventory-sandbox.odaca.innov.intraorange

resources:
  # It is usually recommended not to specify default resources and to leave this as a conscious
  # choice for the user. As providers of disco, we chose to set these default values
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 1Gi

# set to true and configure if you wish to activate autoscaling of pods
autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

nodeSelector: {}

tolerations: []

affinity: {}
