# SPDX-FileCopyrightText: 2025 Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT License,
# the text of which is available at https://opensource.org/license/mit
# or see the "LICENSE.txt" file for more details.
#
# Authors: See CONTRIBUTORS.txt

spring:
  config:
    activate:
      on-profile: openshift
  cloud:
    stream:
      kafka.binder:
        brokers: ${KAFKA}
  data:
    mongodb:
      delete: true
      host: ${DB_SERVICE}
      port: 27017
      database: ${DB_NAME}
      username: ${DATABASE_USER}
      password: ${DATABASE_PASSWORD}
  keycloakRolesEntitlements: x21, x22, x23, x24, x25, cat_r
  userRoleRetrievalUrl: http://${USERROLE-RETRIEVE-SERVICE-NAME}/userRolePermission/v1/userRole     
  keycloak: http://${KEYCLOAK_SERVICE}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/certs
  keycloakAuthUrl: ${KEYCLOAK_ISSUER_URI}/protocol/openid-connect/auth

config:
  cpibProductUrl: https://${CPIB-NAME}/productInventoryManagement/v1/product
  adminCPIBConfigUrl: http://${CATALOG-PRODUCT-CATALOG-ADMINISTRATION-NAME}/cpibConfiguration

server:
  compression:
    enabled: true
    mime-types: application/json,application/xml,text/html,text/xml,text/plain
    min-response-size: 512

process-flow:
  role:
    admin: disco-admin

