apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
  labels:
    eks.amazonaws.com/component: coredns
    k8s-app: kube-dns
  annotations:
    prometheus.io/port: "9153"
    prometheus.io/scrape: "true"
data:
  Corefile: |
    .:53 {
        errors
        health
        # Resolve external domains to internal LoadBalancer IP for self-check
        hosts {
          192.168.1.240 e7d.tech
          192.168.1.240 entangled.cardano.vip
          192.168.1.240 dev-entangled.cardano.vip
          192.168.1.240 bjjbackend.cardano.vip
          192.168.1.240 dev-bjjbackend.cardano.vip
          192.168.1.240 bjj.cardano.vip
          192.168.1.240 blazarpay.cardano.vip
          192.168.1.240 delegation-service.cardano.vip
          192.168.1.240 dev-delegation-service.cardano.vip
          fallthrough
        }
        kubernetes cluster.local in-addr.arpa ip6.arpa {
          pods insecure
          fallthrough in-addr.arpa ip6.arpa
          ttl 30
        }
        prometheus :9153
        forward . 1.1.1.1 1.0.0.1 8.8.8.8
        cache 30
        loop
        reload
        loadbalance
    }
