# SPDX-FileCopyrightText: 2025 Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT License,
# the text of which is available at https://opensource.org/license/mit
# or see the "LICENSE.txt" file for more details.
#
# Authors: See CONTRIBUTORS.txt

DISCO_DEV_CATALOG_MONGO_PASSWORD: ""
replicaCount: ""

keyStoreP12: ""

dailyshutdown: enabled

database:
  enabled: true
  rootPassword: ""
  rootUser: ""

image:
  repository: "europe-central2-docker.pkg.dev/ino-it-s-disco-dev/disco-gcp/disco/catalog-product-lifecycle-management"
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: "1.4.0"

imagePullSecrets: [{ name: discoregistry-imagepuller },{ name: default-dockercfg-b7fws }]
nameOverride: ""
fullnameOverride: ""


services:
  mongodb: catalog-mongo
  dbname: catalog
#  dbport: "27017"
  kafka: ""
  keycloak: keycloak:80
  keycloakrealm: ""
  catalogui: ""
  productcatalog: ""
  specification: ""
  offering: ""
  offeringprice: ""
  category: ""
  lifecycle: ""
  userroleretrieve: ""
  mockservice: ""
  gateway: ""
  keycloakroute: ""
  cpib: ""
  administration: ""

keycloak:
  enabled: false
  clientSecret: ""
  issuerURI: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: "ci-cd"


# enable monitoring and supervision of pods
podAnnotations:
  prometheus.io/port: '9000'
  prometheus.io/scrape: 'true'
  metrics: '/actuator/prometheus'


podSecurityContext: {}
  # fsGroup: 1000
# runAsNonRoot: true

securityContext: {}
  # allowPrivilegeEscalation: false
  # readOnlyRootFilesystem: true
  # runAsGroup: 1000
  # runAsNonRoot: true
  # runAsUser: 1000
  # capabilities:
  #   drop:
#   - ALL

service:
  type: ClusterIP
  port: 8080
  # enable monitoring and supervision of service
  annotations:
    prometheus.io/port: '9000'
    prometheus.io/scrape: 'true'



# config for ingress on DIOD OpenShift
ingress:
  enabled: true
  annotations:
    route.openshift.io/termination: edge
    route.openshift.io/insecureEdgeTerminationPolicy: Redirect
  hosts:
    - host: lifecycle-management-disco.apps.fr01.paas.tech.orange
      paths: [/] # align with contextPath


resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 1024Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}


otel:
  # activate Open Telemetry instrumentation
  enabled: true
  sidecar:
    # use collector agent sidecar
    enabled: false
    # main collector address
    jaeger:
      host: jaeger
      port: 14250
      # main receiver address
    otlp:
      host: disco-tracing-otel
      port: 4317
  attributes:
    platform: "openshift"
    region: ""
    cluster: "diod-openshift"
    namespace: ""
    hostname: ""


# fluentd sidecar for logs forwarding
fluentd:
  enabled: true
  host: apps-fluentd
  tag: "catalog-product-lifecycle-management"

promtail:
  enabled: false

# Monitoring values
monitoring:
  application: ""
  domain: ""
  productName: ""
  topology: ""
  role: ""
  environment: ""

contextPath: ""
