# SPDX-FileCopyrightText: 2025 Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT License,
# the text of which is available at https://opensource.org/license/mit
# or see the "LICENSE.txt" file for more details.
#
# Authors: See CONTRIBUTORS.txt

Dotel:
  instrumentation:
    kafka:
      enabled: true
    spring-kafka:
      enabled: true
    messaging:
      experimental:
        receive-telemetry:
          enabled: false

---
spring:
  config:
    activate:
      on-profile: openshift
  keycloak: http://${KEYCLOAK_SERVICE}/realms/${KEYCLOAK_REALM}/protocol/openid-connect/certs
  keycloakRolesEntitlements: x2, x3, x6, x7, x10, x11, po_w
  userRoleRetrievalUrl: http://${USERROLE-RETRIEVE-SERVICE-NAME}/userRolePermission/v1/userRole
  keycloakAuthUrl: ${KEYCLOAK_ISSUER_URI}/protocol/openid-connect/auth
  cloud:
    stream:
      kafka.binder:
        brokers: ${KAFKA}
  data:
    mongodb:
      delete: true
      host: ${DB_SERVICE}
      port: 27017
      database: catalog
      username: ${DATABASE_USER}
      password: ${DATABASE_PASSWORD}
eventstore:
  host: eventstore
config:
  cfsQuery: http://${CATALOG-PRODUCT-SERVICE-NAME}/serviceCatalogManagement/v1/serviceSpecification
  productSpecQuery: http://${CATALOG-PRODUCT-SERVICE-NAME}/productCatalogManagement/v1/productSpecification
  categoryUrl: http://${CATALOG-PRODUCT-SERVICE-NAME}/productCatalogManagement/v1/category
  categoryEntityUrl: http://${CATALOG-PRODUCT-SERVICE-NAME}/productCatalogManagement/v1/categoryEntity
  marketUrl: http://${CATALOG-PRODUCT-CATALOG-ADMINISTRATION-NAME}/productCatalogAdministration/v5/marketSegment
  channelUrl: http://${CATALOG-PRODUCT-CATALOG-ADMINISTRATION-NAME}/productCatalogAdministration/v5/channel
  productOfferingUrl: http://${CATALOG-PRODUCT-SERVICE-NAME}/productCatalogManagement/v1/productOffering
  productOfferingPriceUrl: http://${CATALOG-PRODUCT-SERVICE-NAME}/productCatalogManagement/v1/productOfferingPrice
  stockItemTypeUrl: http://${CATALOG-PRODUCT-SERVICE-NAME}/serviceCatalogManagement/v1/stockItemType
  stockItemUrl: http://${CATALOG-PRODUCT-SERVICE-NAME}/serviceCatalogManagement/v1/stockItem
  cpibProductUrl: https://${CPIB-NAME}/productInventoryManagement/v1/product
  adminCPIBConfigUrl: http://${CATALOG-PRODUCT-CATALOG-ADMINISTRATION-NAME}/cpibConfiguration
  catProdCatUrl: ${CAT-PROD-CAT-URL}/productCatalogManagement/v1/productOffering
  productCatalogAdministrationUrl: http://${CATALOG-PRODUCT-CATALOG-ADMINISTRATION-NAME}

CPIB:
  limit: 100
  offset: 0
  #expression: 0 55 17 * * ?
cqrs:
  queryBaseUrl: http://${GATEWAY-SERVICE-NAME}

cron:
  productSpecExpression: 0 27 14 * * ?
  productOfferingExpression: 0 37 14 * * ?
  productOfferingPriceExpression: 0 47 14 * * ?
  jobInterval: 24
  intervalUnit: HOURS
  job-enabled: true