# SPDX-FileCopyrightText: 2025 Orange SA
# SPDX-License-Identifier: MIT
#
# This software is distributed under the MIT License,
# the text of which is available at https://opensource.org/license/mit
# or see the "LICENSE.txt" file for more details.
#
# Authors: See CONTRIBUTORS.txt

server:
  port: 8080
  shutdown: graceful
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,application/javascript,application/json,image/svg+xml
    min-response-size: 1024
  tomcat:
    accesslog:
      enabled: true
    mbeanregistry:
      enabled: true
  forward-headers-strategy: framework

spring:
  application:
    name: order-inventory-${ENV_TYPE}
  security:
    oauth2:
      client:
        provider:
          keycloak:
            issuer-uri: ${KEYCLOAK_ISSUER_URI}
            user-name-attribute: preferred_username
      resourceServer:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI}
  cloud:
    function:
      definition: productOrderCommand;orchestrationPlanNodeEvent
    stream:
      kafka:
        binder:
          enableObservation: true
          brokers: ${KAFKA_SERVICE}
          auto-create-topics: false
          auto-add-partitions: false
      bindings:
        productOrderEvent:
          destination: disco.order-management.productOrderStateChange-event
          producer:
            partition-key-expression: headers['partitionKey']
          content-type: application/json
        productOrderAttributeValueChangeEvent:
          destination: disco.order-management.productOrderAttributeValueChange-event
          producer:
            partition-key-expression: headers['partitionKey']
          content-type: application/json
        productOrderCommand-in-0:
          destination: disco.order-management.productOrderChange-command
          group: product-order-inventory
          content-type: application/json
        orchestrationPlanNodeEvent-in-0:
          destination: disco.order-orchestration.orchestrationPlanNodeStateChange-event
          group: product-order-inventory
          content-type: application/json
  jackson:
    deserialization:
      fail-on-unknown-properties: true
  main:
    allow-bean-definition-overriding: true

app:
  security:
    userRoleRetrievalUrl: http://${AUTH_USER_ROLE_SERVICE}/userRolePermission/v1/userRole
    resourceAccessRolesClient: gateway
    discoAdminRole: disco-admin
    defaultRoles:
      ReadProductOrderEntitlement: x300
      CreateProductOrderEntitlement: x301
    ssl:
      enabled: true
    webClient:
      connectTimeout: 30s
      responseTimeout: 30s
  name: order-inventory
  version: 1.13.0-SNAPSHOT
  isDeprecated: false
  designVersion: 2.9.0
  tmfVersion: TMF622
  cache:
    caffeine:
      spec:
        maximumSize: 1000
        expireAfterWrite: 15m

springdoc:
  packagesToScan:
    - com.orange.discobole.ordermanagement.orderinventory.controller
  show-actuator: false
  swagger-ui:
    oauth:
      client-id: swagger-ui

# Metrics config
management:
  endpoint:
    health:
      show-details: always
  endpoints:
    web.exposure.include: health, metrics, prometheus
  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true
  server:
    port: 9000

logging:
  level:
    ROOT: INFO
    com.orange.discobole.ordermanagement.orderinventory: INFO